<%- include("partials/header") -%>

<div class="info">
    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
</div>
    
    <div class="box">
        <table class="table table-hover table-bordered">
            <tr class="table-danger">
                <th></th>
                <th>Name</th>
                <th>Balance</th>
            </tr>
            <% customerData.forEach((item) => { %>
            <form action="/firstCustomer" method="post">
                <div class="item">
                    <tr>
                        <td><input type="checkbox" name="checkbox" value="<%=item.name%>" onChange="this.form.submit()"></td>
                        <td><%=  item.name  %></td>
                        <td>₹ <%=  item.balance  %></td>
                    </tr>
                </div>
            </form>
            
            <% }) %>
        </table>
        <br>
        <p><b>Select a customer</b></p>
    </div>
</div>

<%- include("partials/footer") -%>